body {
  padding: 0;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
p {
  margin-left: 15%;
  margin-right: 15%;
}
#inputContainer {
  text-align: center;
  padding: 20px;
}

.parameter {
  width: 28px;
  display: inline;
}
.defaultButton {
  display: inline;
}
.result {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 50px;
}

#board {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 30px);
  grid-template-columns: repeat(var(--grid-cols), 30px);
}

.navBar {
  margin-left: auto;
}

.grid-item {
  padding: 0;
  border: 1px solid darkgray;
  text-align: center;
  font-size: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: gray;
}

.revealed {
  background-color: lightgray;
}

.adj1 {
  color: blue;
}
.adj2 {
  color: green;
}
.adj3 {
  color: red;
}
.adj4 {
  color: purple;
}
.adj5 {
  color: maroon;
}
.adj6 {
  color: turquoise;
}
.adj7 {
  color: black;
}
.adj8 {
  color: grey;
}
.mine {
  background-color: red;
}

#resetButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#defaultsContainer {
  display: block;
  text-align: center;
}

#mineInput {
  width: 40px;
}

#remainingMines {
  display: inline;
  text-align: left;
}

#remainingMinesCount {
  display: inline;
}
#timeContainer {
  display: inline;
  float: right;
}

#boardContainer {
  width: 30px;
  margin: 0 auto;
}
