body {
  padding: 0;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#board {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 30px);
  grid-template-columns: repeat(var(--grid-cols), 30px);
}

.grid-item {
  padding: 0;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 7px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

[class="1"] {
  color: blue;
}
[class="2"] {
  color: green;
}
[class="3"] {
  color: red;
}
[class="4"] {
  color: purple;
}
[class="5"] {
  color: maroon;
}
[class="6"] {
  color: turquoise;
}
[class="7"] {
  color: black;
}
[class="8"] {
  color: grey;
}
