body {
  padding: 0;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#board {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 30px);
  grid-template-columns: repeat(var(--grid-cols), 30px);
}

.grid-item {
  padding: 0;
  border: 1px solid darkgray;
  text-align: center;
  font-size: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: gray;
}

.revealed {
  background-color: lightgray;
}

.adj1 {
  color: blue;
}
.adj2 {
  color: green;
}
.adj3 {
  color: red;
}
.adj4 {
  color: purple;
}
.adj5 {
  color: maroon;
}
.adj6 {
  color: turquoise;
}
.adj7 {
  color: black;
}
.adj8 {
  color: grey;
}
